html
  include partials/head.pug

  body
    h1= showdata.title

    h2 Developed By
    ul
      for developer in showdata.developedBy
        li= developer

    h2 Starring
    ul
      for star in showdata.starring
        li = star

    h2 Seasons
    ul
      for season in showdata.seasons
        li = season
          a(href=`/season/${season.number}`)= `Season ${season.number}`
