html
  include partials/head.pug

  body
    h1= showdata.title

    h2 Developed By
    ul
      for  in 
        li= 

    h2 Starring
    ul
      for  in 
        li= 

    h2 Seasons
    ul
      for  in 
        li
          a(href=`/season/${season.number}`)= `Season ${season.number}`
