body {
  font-size: 16px;
}

h2, ul {
  margin-left: 30px;
}

a,
a:active,
a:hover,
a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

.season {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse
}

table {
  margin: 0 auto;
  width: 85%
}

th {
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 6px;
}

td {
  padding: 6px;
}

.number {
  text-align: center;
  width: 5%
}

.title, .director {
  padding-left: 20px;
}
